@model Hogwarts.Models.Customer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
}

<h2 class="title">התחברות</h2>

<h3 class="title1">הזן שם משתמש וסיסמא</h3>
@*<hr />
    <div class="container">*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <b>כתובת אימייל</b>
            <div class="form-group">
                @*<label asp-for="MailAdress" class="control-label"></label>*@
                <input asp-for="MailAdress" class="form-control" />
                <span asp-validation-for="MailAdress" class="text-danger"></span>
            </div>
            <b>סיסמא</b>
            <div class="form-group">
                @*<label asp-for="Password" class="control-label"></label>*@
                @*<input asp-for="Password" class="form-control" />*@
                <input type="password" name="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex;justify-content:flex-end">
                <input type="submit" value="התחבר" class="btn btn-primary" />
            </div>
            @if (ViewBag.Fail)
            {
                
                
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            $("#btn1").click(function () {
                                alert("Text: " + $("#test").text());
                            });

                        });
                    </script>
                
                <Div>

                    <p id="test">Login Failed.</p>

                    <button id="btn1">Show the problem</button>


                </Div>
            
            @*<div>Login failed. Please try again.</div>*@
        }
        </form>
    </div>


</div>

@*</div>*@



<div>
    <a href="/Customers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
