@{
    ViewData["Title"] = "עלינו";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p id="demo">אירוח חלומי בהווגוורטס</p> 

<button type="button" onclick="myFunction()">keep reading</button>   
      

<script>
function myFunction() {
    document.getElementById("demo").innerHTML = "אירוח בהוגוורטס מציע מתחם נופש יוקרתי לזוגות ומשפחות. במתחם אטרקציות למגוון גילאים, מסעדות כשרות, בריכות שחייה וסיורים מודרכים";
        }
</script>
