@model IEnumerable<Hogwarts.Models.Atractions>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />
<script>
    var data = @ViewBag.data;
</script>

<div class="chart"></div>