@model IEnumerable<Hogwarts.Models.Atractions>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<script>
    var data = @ViewBag.data;
</script>

<h2 class="title">Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-deck">
    @foreach (var attraction in Model)
    {
        <div class="card">
            <img src="@attraction.Address" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">@attraction.Name</p>
            </div>
            <div class="card-footer">
                @Html.ActionLink("הוסף לסל", "AddToCart", attraction)
                @*<small class="text-muted">*@
            </div>
        </div>
    }
</div>

